{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}



<section data-bs-version="5.1" class="features3 cid-tA3VKVutDo" id="features3-x">
 <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <div class="container">
        <div class="mbr-section-head ">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-3 mt-6 display-2">
                <strong>Features</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Here you can find different kind of infromation which could be helpful</h5>
              <div class="row justify-content-center">

    {% for blog in blogs %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <a href="{% url 'blog:detail' blog.id %}">
                 <img class="img-fluid img-thumbnail mb-2" alt="..." src="{{ blog.image.url }}">
                    <h2>{{ blog.title }}</h2>
                 </a>
                <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
            </div>
        </div>
    </div>

{% endfor %}
  </div>
{% if blogs.has_other_pages %}
<div class="pagination">
    {% if blogs.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ blogs.previous_page_number }}">previous</a>
    {% endif %}

    {% for i in blogs.paginator.page_range %}
    {% if blogs.number == i %}
    <span class="current-page">{{ i }}</span>
    {% else %}
    <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}

    {% if blogs.has_next %}
    <a href="?page={{ blogs.next_page_number }}">next</a>
    <a href="?page={{ blogs.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endif %}
  </div>
        </div>
    </div>

</section>
{% endblock %}