.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    padding-top: 100px;
    font-size: 4rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 3rem;
    }
}

